.home__layer
  //- feature section
  .home__feature
    h1(class="home__title") MICHAEL SHEPARD
    h2(class="home__heading") STL WEB DEVELOPER
  //- latest work section
  .home__work
    .home__container
      h3(class="home__subheading") Latest work
